html {
    /* background: #e0e0e0; */
    
}

body {
	width: 1400;
    margin: 40px auto;
    font-family: Arial;
    font-size: 90%;
    color: rgb(54, 47, 45);
    background: #fff;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
    
}
